.box2{
    padding-top: 50px
}
.box1{
    background-color:#1da1f2;
    height: 100vh;
    padding-top: 250px;
    padding-left: 200px;
    color: #fff;
    font-size: 20px;
    
}
.shift{
    padding-left: 10px;
}
